:root {
    font-size: 100%;
    font-family: 'Ubuntu', sans-serif;

    /* --primary: #FF1D47; */
    --primary: #1d2b49 /* #341d49 */;
    --primary-mid: #2c406d /* #6b398b */;
    --primary-light: #7f98cc /* #dab3ff */;
    --accent: #FF1D47;

    --header-height: 4.2rem;
}

* {
    box-sizing: border-box;
}

body  {
    margin: 0;
}

h2 {
    color: whitesmoke;
    margin: 0;
}

h1 {
    margin: 0;
    color: var(--accent);
    font-size: 2rem;
    /* background: linear-gradient(-60deg, #ff0000 0%, #2b95ff 50%, #c300ff 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: var(--primary-mid);
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 2em 0;
}

/* HEADER START */
header {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10em;

    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0;
    background-color: var(--primary);
    z-index: 20;
    transition: all 200ms ease-in-out;
}

.header-scroll {
    background-color: rgba(29, 43, 73, 0.8);
}

nav {
    display: flex;
}

nav > a {
    color: var(--primary-light);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0.9em;
    padding: 0.5em 0.8em;
}

nav > a:hover {
    background-color: var(--primary-mid);
    border-radius: 2px;
    transition: all 100ms ease-in-out; 
}

nav i {
    margin-right: 0.2em;
}

.nav-active {
    color: whitesmoke;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    background-image: url('/assets/img/logo_circle.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: whitesmoke;
}
/* HEADER END */

/* TOP START */
#top {
    margin-top: var(--header-height);
    height: calc(100vh - var(--header-height));
    background: linear-gradient(to bottom right, rgba(255, 29, 71, 0.5) 0%, rgba(128, 14, 35, 0) 75%);
    position: relative;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom left, rgba(29, 101, 255, 0.5) 0%, rgba(14, 101, 128, 0) 75%);
}

.bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/img/unsplash-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

#top .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;

    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.content {
    padding: 4em 10em;
}

.profile-img {
    width: 20rem;
    border-radius: 100%;
}

.profile-title {
    margin-top: 1em;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation: flow 6s linear infinite;
    background: linear-gradient(-60deg, #c300ff, #ff0000, #2b95ff, #c300ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile-subtitle {
    margin-top: 0.7em;
    font-size: 2rem;
    font-weight: 300;
    color: var(--primary-mid);
    letter-spacing: 0.25rem;
}
/* TOP END */

@keyframes flow {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}


/* CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--primary-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-mid);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}


/* FLEX CLASSES */
.flex {
    height: 100%;
    display: flex;
}

.flex-left {
    flex: 0.5;
}

.flex-right {
    flex: 0.5;
}

.flex-column {
    flex-direction: column;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-align {
    display: flex;
    align-items: center;
}

#about img {
    width: 20rem;
    object-fit: contain;
}

.button {
    text-decoration: none;
    margin-top: 1em;
    padding: 0.5em 1.3em;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'DM Sans', sans-serif;
    border-radius: 3px;
    background-color: var(--accent);
    color: whitesmoke;
}

.button:hover {
    background-color: #ff4466;
    transition: all 150ms ease-in-out;
}

#projects {
    background-color: var(--primary);
    height: 100%;
}

#projects p {
    color: whitesmoke;
}

.project-info {
    padding: 0 8em;
}

.placeholder {
    height: 25rem;
    background: url('/assets/img/placeholder1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



footer {
    height: 50vh;
    background-color: var(--primary);
}