/*** CUSTOM SCROLLBAR START ***/
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--primary-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-mid);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}
/*** CUSTOM SCROLLBAR END ***/